.preloader {
    height: 100vh;
    width: 100%;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-style: italic;

}

.preloader .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 650px;
    font-size: 40px;
    font-weight: 800;
    overflow: hidden;
    color: #A4EAFF;
    font-style: italic;

}